@import logic.PublicBucketsDisplay._
@import model._
@import utils.attempt.FailedAttempt

@(awsAccount: AwsAccount, report: Either[FailedAttempt, (BucketReportSummary, List[BucketDetail])])(implicit assets: AssetsFinder)

@floatingNav() = {
    <div class="fixed-action-btn js-floating-nav iam-floating-nav">
        <a class="btn-floating btn-large">
            <i class="large material-icons">menu</i>
        </a>
        <ul>
            <li><a class="btn-floating red js-iam-collapse">
                <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="collapse all">fullscreen_exit</i>
            </a></li>
            <li><a class="btn-floating yellow darken-1 js-iam-expand">
                <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="expand all">fullscreen</i>
            </a></li>
        </ul>
    </div>
}

@main(List("S3 Buckets")) { @* Header *@
    <div class="hq-sub-header">
        <div class="container hq-sub-header__row">
            <div class="hq-sub-header__name">
                <h4 class="header light grey-text text-lighten-5">For @awsAccount.name</h4>
            </div>
            <div class="hq-sub-header__tabs">
                <ul class="tabs tabs-transparent">
                    <li class="tab col s3"><a target="_self" href="/security-groups/@awsAccount.id"><i class="material-icons left">vpn_lock</i>Security Groups</a></li>
                    <li class="tab col s3"><a target="_self" href="/iam/@awsAccount.id"><i class="material-icons left">vpn_key</i>IAM Report</a></li>
                    <li class="tab col s3"><a target="_self" class="active" href="/buckets/@awsAccount.id"><i class="material-icons left">storage</i>S3 Buckets</a></li>
                </ul>
            </div>
        </div>
    </div>

} { @* Main content *@
    <div class="container">
        <div class="row flow-text">
            <h3>Public S3 Buckets</h3>
        </div>

        @report match {
            case Right((_, Nil)) => {
                <div class="card-panel valign-wrapper">
                    <i class="material-icons medium green-text left">verified_user</i>
                    <h5>No open S3 buckets found</h5>
                </div>
            }
            case Right((_, openBuckets)) => {
                <div class="row card-panel">
                    @if(hasSuppressedReports(openBuckets)) {
                        <div class="section valign-wrapper">
                            <i class="material-icons left">visibility_off</i>
                            <span class="finding-header__name">
                                Some results may be ignored due to settings in AWS Trusted Advisor</span>

                            <form class="finding-filter" action="#">
                                <input class="js-finding-filter" type="checkbox" id="show-flagged-findings" checked="checked" name="showFlaggedFindings" />
                                <label class="black-text finding-filter__label" for="show-flagged-findings">
                                    Show flagged</label>
                                <input class="js-finding-filter" type="checkbox" id="show-ignored-findings" name="showIgnoredFindings" />
                                <label class="black-text finding-filter__label" for="show-ignored-findings">
                                    Show ignored</label>
                            </form>
                        </div>
                    }
                        <div class="section valign-wrapper">
                            <i class="material-icons left">no_encryption</i>
                            <span class="finding-header__name">
                                Some buckets may not have encryption enabled for data at rest</span>

                            <form class="finding-filter" action="#">
                                <input class="js-finding-filter-for-s3" type="checkbox" id="show-unencrypted-findings" checked="checked" name="showUnencryptedFindings" />
                                <label class="black-text finding-filter__label" for="show-unencrypted-findings">
                                    Show all unencrypted buckets</label>
                            </form>
                        </div>
                </div>

                @views.html.s3.publicBucketsBody(openBuckets, shadow=true)

                @views.html.fragments.bucketsHelp()
            }
            case Left(errs) => {
                @views.html.fragments.warningMessage("s3 buckets", errs)
            }
        }

    </div>
}
