/* COLOUR SCHEME
DARK GREY:  #212121
TEAL:       #009688
LIGHT GREY: #F5F5F5
NOT-WHITE:  #F7F0F0
HIGHLIGHT:  #8AF3FF

MID-TEAL:   #00695c
DARK-TEAL:  #0B5351
COMPLEMENT: #4E8098
 */

html {
  /*background-color: #009688;*/
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('/assets/images/bg-texture.png');
  background-repeat: repeat;
}

main {
  flex: 1 0 auto;
}

footer {
}

nav {
  background-color: transparent;
  box-shadow: none;
}

.space-between {
  justify-content: space-between;
}

.icon-count {
  margin-right: 5px;
  text-align: end;
  width: 30px;
}

.link_new_tab {
  vertical-align: bottom;
}

.large-icon {
  font-size: 36px !important;
}

/* navigation and header */

.main-header {
  background-color: #009688;
  border-bottom: solid 1px #0b5351;
}

.hq-nav {
  display: flex;
}

.hq-nav__header {
  flex-grow: 1;
}

.hq-nav__menu {
  margin: auto;
}

.hq-nav__image-wrapper {
  height: 100px;
  margin: auto;
  padding-left: 20px;
}

.hq-nav__image {
  width: 100px;
}

@media (max-width: 740px) {
  .hq-nav__image {
    width: 60px;
    margin-top: 20px;
  }
}

.hq-sub-header {
  background-color: #00695c;
  min-height: 80px;
  padding: 10px 0;
  margin-bottom: 20px;
}

.hq-sub-header__row {
  display: flex;
  flex-wrap: wrap;
}

.hq-sub-header__name {
  padding-right: 20px;
}

.hq-sub-header__tabs {
  margin-bottom: 5px;
  margin-top: auto;
  background-color: #00695c;
}

@media (min-width: 1140px) {
  .hq-sub-header__tabs {
    min-width: 200px;
  }
}

.hq-sub-header__tabs i {
  height: 48px;
  line-height: 48px;
}

/* homepage */

.hp-reports {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.hp__link {
  color: rgba(0, 0, 0, 0.87);
}

.accounts__container {
  background-color: #4e8098;
  margin-top: 10px;
  border-top: solid 1px #0b5351;
  height: -moz-max-content;
  height: max-content; /* sass-lint:disable-line no-duplicate-properties */
  padding-bottom: 20px;
}

.accounts__header {
  padding: 5px 0;
}

.accounts__list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 740px) {
  .accounts__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1140px) {
  .accounts__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.accounts__account {
  min-height: 100px;
  min-width: 200px;
  background-color: #f7f0f0;
}

.accounts__account-heading {
  padding: 10px;
  font-size: 24px;
  font-weight: 300;
  line-height: 110%;
}

.accounts__link {
  padding: 0 0.5rem;
  color: rgba(0, 0, 0, 0.87);
}

.accounts__account-actions {
  padding: 10px;
}

.card .card-content--title {
  padding-bottom: 10px;
  word-wrap: break-word;
}

.card .card-content--body {
  padding-top: 10px;
}

.card-content--border {
  height: 3px;
}

/* security group pages */

.sg-filter {
  min-width: 300px;
}

.sg-filter__label {
  margin-left: 20px;
}

.sg-header__name {
  flex-grow: 2;
}

.sg-header span.sg-header__badge {
  margin-left: 10px;
  width: 80px;
}

.sg-container {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: max-content;
  margin: 0 auto;
}

@media (min-width: 940px) {
  .sg-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1400px) {
  .sg-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.sg-suppressed--true {
  display: none;
}

.sg-suppressed--true .card {
  background-color: #f5f5f5;
}

.sg-container__card {
  min-width: 33%;
  padding: 0 10px;
}

.sg-card-action {
  min-height: 76px;
}

.sg-details__table td,
.sg-details__table th {
  padding: 5px;
  word-wrap: break-word;
}

.sg-details {
  margin-top: 0;
  position: relative;
  width: 100%;
}

.sg-details__list {
  position: absolute;
  width: 100%;
  z-index: 200;
}

.sg-details__header {
  background-color: #009688;
  color: #ffffff;
  line-height: 36px;
  min-height: 36px;
  padding: 0 12px;
}

.sg-details__header i {
  display: inline-grid;
  float: none;
  height: 36px;
  line-height: 36px;
  margin-right: 0;
  vertical-align: middle;
}

.sg-details__body {
  padding: 0 !important;
}

@media (max-width: 990px) {
  .sg-floating-nav {
    display: none;
  }
}

.usage-cta {
  display: block;
  background-color: #4e8098;
  padding: 0 0.6rem;
  white-space: nowrap;
}

/* IAM pages */

.iam-header__name {
  margin-right: auto;
}

.iam-key--disabled {
  opacity: 0.3;
}

table.iam-report__table td,
table.iam-report__table th {
  min-height: 21px;
  box-sizing: initial;
}

.iam-modal__trigger {
  height: 24px;
}

/* Docs */

.doc-content h1 {
  font-size: 3.5rem;
}

.doc-content h2 {
  font-size: 3rem;
}

.doc-content h3 {
  font-size: 2.5rem;
}

.doc-content h4 {
  font-size: 2rem;
}

/* Snyk */

.filter-table {
  display: flex;
}

/* footer */

.hq-footer__links {
  height: 40px;
}
