@import logic.SnykDisplay._
@import model._

@(results: List[SnykOrganisationIssues])(implicit assets: AssetsFinder)

@main(List("Snyk")) { @* Header *@
    <div class="hq-sub-header">
        <div class="container hq-sub-header__row">
            <div class="hq-sub-header__name">
                <h4 class="header light grey-text text-lighten-5">Snyk - Dependency Vulnerabilities</h4>
            </div>
        </div>
    </div>

} { @* Main content *@

    <div class="container">
        <div class="row">
            <div class="card-panel">
                <span>
                    Report refreshed every hour. Results are based on the 1000 highest severity issues in each Snyk organisation.
                </span>
            </div>
        </div>
        <div class="row">
            <ul class="collapsible" data-collapsible="accordion">
            @for(orgIssues <- results) {
                <li>
                    <div class="collapsible-header" tabindex="22">
                        <i class="material-icons">keyboard_arrow_down</i>
                        <span class="iam-header__name">@orgIssues.organisation.name</span>
                        @if(orgIssues.critical > 0) {
                            <span class="icon-count">@orgIssues.critical</span>
                            <i class="material-icons red-text">error</i>
                        }
                        @if(orgIssues.high > 0) {
                            <span class="icon-count">@orgIssues.high</span>
                            <i class="material-icons red-text">error_outline</i>
                        }
                        @if(orgIssues.medium > 0) {
                            <span class="icon-count">@orgIssues.medium</span>
                            <i class="material-icons amber-text">warning</i>
                        }
                        @if(orgIssues.low > 0) {
                            <span class="icon-count">@orgIssues.low</span>
                            <i class="material-icons grey-text">info</i>
                        }
                    </div>
                    <div class="collapsible-body">
                        @views.html.snyk.snykOrgProjects(orgIssues)
                    </div>
                </li>
            }
            </ul>
        </div>
    </div>
}