@import logic.SnykDisplay._
@import model._

@(results: List[SnykProjectIssues])(implicit assets: AssetsFinder)

@main(List("Snyk")) { @* Header *@
    <div class="hq-sub-header">
        <div class="container hq-sub-header__row">
            <div class="hq-sub-header__name">
                <h4 class="header light grey-text text-lighten-5">Snyk Results</h4>
            </div>
        </div>
    </div>

} { @* Main content *@

    <div class="container">

        <table class="striped responsive-table filterable-table">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>High</th>
                    <th>Medium</th>
                    <th>Low</th>
                </tr>
            </thead>

            <tbody>
            @for(projectIssues <- results) {
                @projectIssues.project match {
                    case Some(snykProject) => {
                        <tr>
                            <td>
                                <a target="_blank" rel="noopener noreferrer" href="@linkToSnykProject(projectIssues, None)">
                                    @snykProject.name
                                    <i class="material-icons link_new_tab">open_in_new</i>
                                </a>
                            </td>
                            <td>
                                <a target="_blank" href="@{linkToSnykProject(projectIssues, Some("?disclosure=all&severity=high"))}">
                                    @projectIssues.high
                                </a>
                            </td>
                            <td>
                                <a target="_blank" href="@{linkToSnykProject(projectIssues, Some("?disclosure=all&severity=medium"))}">
                                    @projectIssues.medium
                                </a>
                            </td>
                            <td>
                                <a target="_blank" href="@{linkToSnykProject(projectIssues, Some("?disclosure=all&severity=low"))}">
                                    @projectIssues.low
                                </a>
                            </td>
                        </tr>
                    }
                    case None => { }
                }


            }

        </table>

    </div>
    </div>

}