@import logic.SnykDisplay._
@import model._

@(orgIssues: SnykOrganisationIssues)(implicit assets: AssetsFinder)

@main(List("Snyk")) { @* Header *@
    <div class="hq-sub-header">
        <div class="container hq-sub-header__row">
            <div class="hq-sub-header__name">
                <h4 class="header light grey-text text-lighten-5">Snyk - Dependency Vulnerabilities - @orgIssues.organisation.name</h4>
            </div>
        </div>
    </div>

} { @* Main content *@
    <div class="container">
    @views.html.snyk.snykOrgProjects(orgIssues)
    </div>
}