

@(flaggedSgsByAccount: List[(model.AwsAccount, Either[utils.attempt.FailedAttempt, List[(model.SGOpenPortsDetail, Set[model.SGInUse])]])])(implicit assets: AssetsFinder)

@floatingNav = {
  <div class="fixed-action-btn js-floating-nav sg-floating-nav">
      <a class="btn-floating btn-large">
        <i class="large material-icons">menu</i>
      </a>
      <ul>
          <li><a class="btn-floating red js-sg-pin-close">
            <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="close current">close</i>
          </a></li>
          <li><a class="btn-floating btn-floating yellow darken-1 js-sg-pin-top">
            <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="go to top">vertical_align_top</i>
          </a></li>
          <li><a class="btn-floating blue js-sg-pin-end">
            <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="go to end">vertical_align_bottom</i>
          </a></li>
      </ul>
  </div>
}

@main(List("Security Groups")) { @* Header *@
    <div class="hq-sub-header">
        <div class="container hq-sub-header__row">
            <div class="hq-sub-header__name">
                <h2 class="header light center-on-small-only grey-text text-lighten-5">Security Groups</h2>
                <h4 class="header light center-on-small-only grey-text text-lighten-5">For all accounts</h4>
            </div>
        </div>
    </div>

} { @* Main content *@
    <div class="container">
        <div class="row">
            <h2>Open Security Groups</h2>
            <p>The following Security Groups have ports open to the world, i.e. a CIDR set to <code>0.0.0.0/0</code>.</p>

            <ul class="collapsible space-between js-sg-collapsible" data-collapsible="accordion">
            @for((account, flaggedSgsAttempt) <- flaggedSgsByAccount) {
                <li class="js-sg-scroll">
                    <div class="collapsible-header">
                        <i class="material-icons">keyboard_arrow_down</i>
                        <span class="sg-header__name">@account.name</span>
                        @flaggedSgsAttempt match {
                            case Left(_) => {
                                <i class="material-icons">warning</i>
                            }
                            case Right(Nil) => {
                                <i class="material-icons">done</i>
                            }
                            case Right(flaggedSgs) => {
                                <span class="new badge" data-badge-caption="flagged resources">@flaggedSgs.length</span>
                            }
                        }
                    </div>
                    <div class="collapsible-body">
                    @flaggedSgsAttempt match {
                        case Left(errs) => {
                            <p class="p--warning">
                                @for(err <- errs.failures) {
                                    @err.friendlyMessage
                                }
                            </p>
                        }
                        case Right(Nil) => {
                            <p>No flagged Security Groups</p>
                        }
                        case Right(flaggedSgs) => {
                            @views.html.fragments.openSecurityGroups(flaggedSgs, shadow=false)
                        }
                    }
                    @floatingNav
                    </div>
                </li>


            }
            </ul>
        </div>
    </div>
}
