@import logic.SecurityGroupDisplay.reportSummary

@(flaggedSgsByAccount: List[(model.AwsAccount, Either[utils.attempt.FailedAttempt, List[(model.SGOpenPortsDetail, Set[model.SGInUse])]])])(implicit assets: AssetsFinder)

@floatingNav(accountId: String) = {
  <div class="fixed-action-btn js-floating-nav finding-floating-nav">
      <a class="btn-floating btn-large">
        <i class="large material-icons">menu</i>
      </a>
      <ul>
          <li><a class="btn-floating red js-finding-pin-close">
            <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="close current">close</i>
          </a></li>
          <li><a class="btn-floating btn-floating yellow darken-1 js-finding-pin-top">
            <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="go to top">vertical_align_top</i>
          </a></li>
          <li><a class="btn-floating blue js-finding-pin-end">
            <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="go to end">vertical_align_bottom</i>
          </a></li>
          <li><a href="/security-groups/@accountId" class="btn-floating purple js-finding-pin-acc">
              <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="go to account page">pageview</i>
          </a></li>
      </ul>
  </div>
}

@main(List("Security Groups")) { @* Header *@
    <div class="hq-sub-header">
        <div class="container hq-sub-header__row">
            <div class="hq-sub-header__name">
                <h4 class="header light grey-text text-lighten-5">All accounts</h4>
            </div>
            <div class="hq-sub-header__tabs">
                <ul class="tabs tabs-transparent">
                    <li class="tab col s3"><a target="_self" class="active" href="/security-groups"><i class="material-icons left">vpn_lock</i>Security Groups</a></li>
                    <li class="tab col s3"><a target="_self" href="/iam"><i class="material-icons left">vpn_key</i>IAM Report</a></li>
                    <li class="tab col s3"><a target="_self" href="/buckets"><i class="material-icons left">storage</i>S3 Buckets</a></li>
                    <li class="tab col s3"><a target="_self" href="/gcp"><i class="material-icons left">cloud</i>GCP Findings</a></li>
                </ul>
            </div>
        </div>
    </div>

} { @* Main content *@
    <div class="container">
        <div class="row flow-text">
            <h3>Open Security Groups</h3>
            <p>The following Security Groups have ports open to the world, i.e. a CIDR set to <code>0.0.0.0/0</code>.</p>
        </div>

        <div class="row">
            <div class="card-panel valign-wrapper">
                <i class="material-icons left">visibility_off</i>
                <span class="finding-header__name">Some Security Groups may be ignored due to settings in AWS Trusted Advisor</span>

                <form class="finding-filter" action="#">
                    <input class="js-finding-filter" type="checkbox" id="show-flagged-findings" checked="checked" />
                    <label class="black-text finding-filter__label" for="show-flagged-findings">Show flagged</label>
                    <input class="js-finding-filter" type="checkbox" id="show-ignored-findings" />
                    <label class="black-text finding-filter__label" for="show-ignored-findings">Show ignored</label>
                </form>
            </div>
        </div>

        @views.html.fragments.securityGroupHelp()

        <div class="row">
            <ul class="collapsible space-between js-finding-collapsible" data-collapsible="accordion">
            @for((account, flaggedSgsAttempt) <- flaggedSgsByAccount) {
                <li class="js-finding-scroll">
                    <div class="collapsible-header finding-header" tabindex="22">
                        <i class="material-icons">keyboard_arrow_down</i>
                        <span class="finding-header__name">@account.name</span>
                        @flaggedSgsAttempt match {
                            case Left(_) => {
                                <i class="material-icons">warning</i>
                            }
                            case Right(Nil) => {
                                <i class="material-icons green-text">check</i>
                            }
                            case Right(flaggedSgs) => {
                                @defining(reportSummary(flaggedSgs)) { summary =>
                                    @if(summary.active > 0) {
                                        <span class="new badge red darken-3 finding-header__badge" data-badge-caption="in use">@summary.active</span>
                                    }
                                    @if((summary.flagged - summary.active) > 0) {
                                        <span class="new badge finding-header__badge" data-badge-caption="not in use">@{summary.flagged - summary.active}</span>
                                    }
                                    @if(summary.suppressed > 0) {
                                        <span class="new badge grey finding-header__badge" data-badge-caption="ignored">@summary.suppressed</span>
                                    }
                                }
                            }
                        }
                    </div>
                    <div class="collapsible-body">
                    @flaggedSgsAttempt match {
                        case Left(errs) => {
                            <p class="p--warning">
                                @for(err <- errs.failures) {
                                    @err.friendlyMessage
                                }
                            </p>
                        }
                        case Right(Nil) => {
                            <p>No flagged Security Groups</p>
                        }
                        case Right(flaggedSgs) => {
                            @views.html.fragments.openSecurityGroups(flaggedSgs, shadow=false)
                        }
                    }
                    @floatingNav(account.id)
                    </div>
                </li>


            }
            </ul>
        </div>
    </div>
}
