@import model.{AwsAccount, SGOpenPortsDetail, SGInUse, Instance, ELB, UnknownUsage}

@(awsAccount: AwsAccount, flaggedSgs: List[(SGOpenPortsDetail, Set[SGInUse])])

@main(List(awsAccount.name, "IAM report")) { @* Header *@
    <div class="container">
        <div class="row">
            <h1 class="header center-on-small-only grey-text text-lighten-5">Security Groups</h1>
            <div class="col s12 m9">
                <h4 class="grey-text text-darken-4 center-on-small-only">For @awsAccount.name</h4>
            </div>
        </div>
    </div>

} { @* Main content *@
    <div class="container">
        <div class="row">
            <h2>Open Security Groups</h2>
            <p>The following Security Groups have ports open to the world, i.e. a CIDR set to <code>0.0.0.0/0</code>.</p>

            @views.html.fragments.openSecurityGroups(flaggedSgs)
        </div>
    </div>
}
