@import model.{AwsAccount, SGInUse, SGOpenPortsDetail}

@(awsAccount: AwsAccount, flaggedSgs: List[(SGOpenPortsDetail, Set[SGInUse])])(implicit assets: AssetsFinder)

@main(List(awsAccount.name)) { @* Header *@
<div class="hq-sub-header">
    <div class="container hq-sub-header__row">
        <div class="hq-sub-header__name">
            <h2 class="header light center-on-small-only grey-text text-lighten-5">Security Groups</h2>
            <h4 class="header light center-on-small-only grey-text text-lighten-5">For @awsAccount.name</h4>
        </div>
    </div>
</div>

} { @* Main content *@
    <div class="container">
        <div class="row">
            <h2>Open Security Groups</h2>
            <p>The following Security Groups have ports open to the world, i.e. a CIDR set to <code>0.0.0.0/0</code>.</p>

            @views.html.fragments.openSecurityGroups(flaggedSgs, shadow=true)
        </div>
    </div>
}
