@import model.{AwsAccount, InspectorAssessmentRun}
@import utils.attempt.FailedAttempt
@import logic.InspectorResults.{levelFindings, totalFindings}

@(accountAssessmentRuns: List[(AwsAccount, Either[FailedAttempt, List[InspectorAssessmentRun]])])(implicit assets: AssetsFinder)


@main(List("AWS Inspector assessment runs")) { @* Header *@
<div class="hq-sub-header">
    <div class="container hq-sub-header__row">
        <div class="hq-sub-header__name">
            <h4 class="header light grey-text text-lighten-5">All accounts</h4>
        </div>
        <div class="hq-sub-header__tabs">
            <ul class="tabs tabs-transparent">
                <li class="tab col s3"><a target="_self" href="/security-groups"><i class="material-icons left">vpn_lock</i>Security Groups</a></li>
                <li class="tab col s3"><a target="_self" href="/iam"><i class="material-icons left">vpn_key</i>IAM Report</a></li>
                <li class="tab col s3"><a target="_self" href="/buckets"><i class="material-icons left">storage</i>S3 Buckets</a></li>
                <li class="tab col s3"><a target="_self" class="active" href="/inspector"><i class="material-icons left">assignment</i>Inspector</a></li>
            </ul>
        </div>
    </div>
</div>

} { @* Main content *@
    <div class="container">
        <div class="row">
            <h2>AWS Inspector results</h2>
            <p>
                These are the results of the last inspector runs for each Stack, App, Stage combination.
            </p>
        </div>

        <div class="row">
            <ul class="collapsible" data-collapsible="accordion">
            @for((account, assessmentRunsAttempt) <- accountAssessmentRuns) {
                <li>
                    <div class="collapsible-header" tabindex="22">
                        <i class="material-icons">keyboard_arrow_down</i>
                        <span class="iam-header__name">@account.name</span>
                        @assessmentRunsAttempt match {
                            case Right(assessmentRuns) => {
                                @if(assessmentRuns.isEmpty) {
                                    <i class="material-icons green-text">highlight_off</i>
                                } else {
                                    @if(totalFindings(assessmentRuns) == 0) {
                                        <i class="material-icons green-text">done</i>
                                    }
                                    @if(levelFindings("High", assessmentRuns) > 0) {
                                        <span class="icon-count">@levelFindings("High", assessmentRuns)</span>
                                        <i class="material-icons red-text">error</i>
                                    }
                                    @if(levelFindings("Medium", assessmentRuns) > 0) {
                                        <span class="icon-count">@levelFindings("Medium", assessmentRuns)</span>
                                        <i class="material-icons amber-text">warning</i>
                                    }
                                    @if(levelFindings("Low", assessmentRuns) > 0) {
                                        <span class="icon-count">@levelFindings("Low", assessmentRuns)</span>
                                        <i class="material-icons blue-text">watch_later</i>
                                    }
                                    @if(levelFindings("Informational", assessmentRuns) > 0) {
                                        <span class="icon-count">@levelFindings("Informational", assessmentRuns)</span>
                                        <i class="material-icons grey-text">info_outline</i>
                                    }
                                }
                            }
                            case Left(_) => {
                                <i class="material-icons red-text">warning</i>
                            }
                        }
                    </div>
                    <div class="collapsible-body">
                        @assessmentRunsAttempt match {
                            case Right(assessmentRuns) => {
                                @if(assessmentRuns.isEmpty) {
                                    No inspector runs found.
                                } else {
                                    <div class="finding-container">
                                    @for(assessmentRun <- assessmentRuns) {
                                        @views.html.fragments.inspectorResult(assessmentRun)
                                    }
                                    </div>
                                }
                            }
                            case Left(fa) => {
                                <p class="p--warning">
                                @for(err <- fa.failures) {
                                    @err.friendlyMessage
                                }
                                </p>
                            }
                        }

                    </div>
                </li>
            }
            </ul>
        </div>
    </div>
}
