@import model.{AwsAccount, InspectorAssessmentRun}
@import logic.InspectorResults.levelColour

@(assessmentRuns: List[((String, String, String), InspectorAssessmentRun)], awsAccount: AwsAccount)(implicit assets: AssetsFinder)


@main(List(awsAccount.name)) { @* Header *@
<div class="hq-sub-header">
    <div class="container hq-sub-header__row">
        <div class="hq-sub-header__name">
            <h4 class="header light grey-text text-lighten-5">For @awsAccount.name</h4>
        </div>
        <div class="hq-sub-header__tabs">
            <ul class="tabs tabs-transparent">
                <li class="tab col s3"><a target="_self" href="/security-groups/@awsAccount.id"><i class="material-icons left">vpn_lock</i>Security Groups</a></li>
                <li class="tab col s3"><a target="_self" href="/iam/@awsAccount.id"><i class="material-icons left">vpn_key</i>IAM Report</a></li>
                <li class="tab col s3"><a target="_self" class="active" href="/inspector/@awsAccount.id"><i class="material-icons left">assignment</i>Inspector results</a></li>
            </ul>
        </div>
    </div>
</div>

} { @* Main content *@
    <div class="container">
        <div class="row">
            <h2>AWS Inspector results</h2>
            <p>
                These are the results of the last inspector runs for each stack, app, stage combination.
            </p>
        </div>

        <div class="row">
            @if(assessmentRuns.isEmpty) {
                <div class="col s12">
                    <div class="card-panel valign-wrapper">
                        <i class="material-icons medium green-text left">verified_user</i>
                        <h5>No inspector runs found</h5>
                    </div>
                </div>
            } else {
                <div class="finding-container">
                    @for(((stack, app, stage), assessmentRun) <- assessmentRuns) {
                        <div class="finding-container__card">
                            <div class="card">
                                <div class="card-content card-content--title">
                                    <span class="card-title">@stack @app @stage</span>
                                </div>
                                <div class="card-content--border @{
                                    levelColour(assessmentRun.findingCounts)
                                } darken-1"></div>
                                <div class="card-content card-content--body">
                                    <table class="finding-details__table">
                                        <tbody>
                                            @for((level, count) <- assessmentRun.findingCounts) {
                                                <tr>
                                                    <th>@level</th>
                                                    <td>@count</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-action finding-card-action">
                                    <a class="btn usage-cta" href='https://eu-west-1.console.aws.amazon.com/inspector/home?region=eu-west-1#/finding?filter={"assessmentTemplateArns":["@{assessmentRun.assessmentTemplateArn}"]}'>
                                        AWS console
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
}
