@import model.{AwsAccount, InspectorAssessmentRun}

@(accountAssessmentRuns: List[(AwsAccount, List[InspectorAssessmentRun])])(implicit assets: AssetsFinder)


@main(List("AWS Inspector assessment runs")) { @* Header *@
<div class="hq-sub-header">
    <div class="container hq-sub-header__row">
        <div class="hq-sub-header__name">
            <h4 class="header light grey-text text-lighten-5">All accounts</h4>
        </div>
        <div class="hq-sub-header__tabs">
            <ul class="tabs tabs-transparent">
                <li class="tab col s3"><a target="_self" href="/security-groups"><i class="material-icons left">vpn_lock</i>Security Groups</a></li>
                <li class="tab col s3"><a target="_self" href="/iam"><i class="material-icons left">vpn_key</i>IAM Report</a></li>
                <li class="tab col s3"><a target="_self" class="active" href="/inspector"><i class="material-icons left">assignment</i>Inspector results</a></li>
            </ul>
        </div>
    </div>
</div>

} { @* Main content *@
    <div class="container">
        <div class="row">
            <h2>AWS Inspector results</h2>
            <p>
                These are the results of the last inspector runs for each stack, app, stage combination.
            </p>
        </div>

        <div class="row">
            <ul class="collapsible" data-collapsible="accordion">
            @for((account, assessmentRuns) <- accountAssessmentRuns) {
                <li>
                    <div class="collapsible-header" tabindex="22">
                        <i class="material-icons">keyboard_arrow_down</i>
                        <span class="iam-header__name">@account.name</span>
                    </div>
                    <div class="collapsible-body">
                    @if(assessmentRuns.isEmpty) {
                        <div class="col s12">
                            <div class="card-panel valign-wrapper">
                                <i class="material-icons medium green-text left">verified_user</i>
                                <h5>No inspector runs found</h5>
                            </div>
                        </div>
                    } else {
                        <div class="finding-container">
                        @for(assessmentRun <- assessmentRuns) {
                            @inspectorResult(assessmentRun)
                        }
                        </div>
                    }
                    </div>
                </li>
            }
            </ul>
        </div>
    </div>
}
