@import model.GcpReport
@import controllers.AssetsFinder
@import logic.GcpDisplay
@import com.google.cloud.securitycenter.v1.Finding.Severity
@(report: GcpReport)(implicit assets: AssetsFinder)

@floatingNav() = {
    <div class="fixed-action-btn js-floating-nav iam-floating-nav">
        <a class="btn-floating btn-large">
            <i class="large material-icons">menu</i>
        </a>
        <ul>
            <li><a class="btn-floating red js-iam-collapse">
                <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="collapse all">fullscreen_exit</i>
            </a></li>
            <li><a class="btn-floating yellow darken-1 js-iam-expand">
                <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="expand all">fullscreen</i>
            </a></li>
        </ul>
    </div>
}

@main(List("Gcp")) { @* Header *@
    <div class="hq-sub-header">
        <div class="container hq-sub-header__row">
            <div class="hq-sub-header__name">
                <h4 class="header light grey-text text-lighten-5">All accounts</h4>
            </div>
            <div class="hq-sub-header__tabs">
                <ul class="tabs tabs-transparent">
                    <li class="tab col s3"><a target="_self" href="/security-groups"><i class="material-icons left">vpn_lock</i>Security Groups</a></li>
                    <li class="tab col s3"><a target="_self" href="/iam"><i class="material-icons left">vpn_key</i>IAM Report</a></li>
                    <li class="tab col s3"><a target="_self" href="/buckets"><i class="material-icons left">storage</i>S3 Buckets</a></li>
                    <li class="tab col s3"><a target="_self" class="active" href="/gcp"><i class="material-icons left">cloud_queue</i>GCP Findings</a></li>
                </ul>
            </div>
        </div>
    </div>

} { @* Main content *@
    <div class="container">
        <div class="row flow-text">
            <h3>GCP Security Findings</h3>
            <p>Security Command Centre's findings display possible security risks for your GCP resources.</p>
        </div>

        <div class="row">
            <div class="card-panel valign-wrapper">
                <form class="finding-filter" action="#">
                    <input class="js-finding-filter-for-gcp" type="checkbox" id="show-critical-findings" checked="checked" />
                    <label class="black-text finding-filter__label" for="show-critical-findings">Critical</label>
                    <input class="js-finding-filter-for-gcp" type="checkbox" id="show-high-findings" checked="checked" />
                    <label class="black-text finding-filter__label" for="show-high-findings">High</label>
                    <input class="js-finding-filter-for-gcp" type="checkbox" id="show-medium-findings" checked="checked" />
                    <label class="black-text finding-filter__label" for="show-medium-findings">Medium</label>
                    <input class="js-finding-filter-for-gcp" type="checkbox" id="show-low-findings" />
                    <label class="black-text finding-filter__label" for="show-low-findings">Low</label>
                    <input class="js-finding-filter-for-gcp" type="checkbox" id="show-unknown-findings" />
                    <label class="black-text finding-filter__label" for="show-unknown-findings">Unknown</label>
                </form>
            </div>
        </div>

        <div class="row">
            <ul class="collapsible" data-collapsible="accordion">
                @for((projectName, findings) <- report.finding.toList.sortBy(_._1)) {
                    <li>
                    <div class="collapsible-header" tabindex="22">
                    <i class="material-icons">keyboard_arrow_down</i>
                    <span class="iam-header__name">@projectName</span>
                        @if(findings.exists(_.severity == Severity.CRITICAL)) {
                            <span class="icon-count">@findings.count(_.severity == Severity.CRITICAL)</span>
                            <i class="material-icons red-text text-darken-4">error</i>
                        }
                        @if(findings.exists(_.severity == Severity.HIGH)) {
                            <span class="icon-count">@findings.count(_.severity == Severity.HIGH)</span>
                            <i class="material-icons red-text">error</i>
                        }
                        @if(findings.exists(_.severity == Severity.MEDIUM)) {
                            <span class="icon-count">@findings.count(_.severity == Severity.MEDIUM)</span>
                            <i class="material-icons orange-text">warning</i>
                        }
                        @if(findings.exists(_.severity == Severity.LOW)) {
                            <span class="icon-count">@findings.count(_.severity == Severity.LOW)</span>
                            <i class="material-icons yellow-text">priority_high</i>
                        }
                        @if(findings.exists(_.severity == Severity.SEVERITY_UNSPECIFIED)) {
                            <span class="icon-count">@findings.count(_.severity == Severity.SEVERITY_UNSPECIFIED)</span>
                            <i class="material-icons grey-text">not_listed_location</i>
                        }
                    </div>
                    <div class="collapsible-body">
                    @views.html.gcp.gcpReportBody(GcpDisplay.sortFindings(findings.toList), report.reportDate)
                    </div>
                    </li>
                }
            </ul>
        </div>

        @floatingNav()

    </div>
}
