@import model.{AccessKeyDisabled, AccessKeyEnabled, AccessKey}
@import logic.CredentialsReportDisplay

@(accessKey1: AccessKey, accessKey2: AccessKey)

@keyStatus(accessKey: AccessKey) = {
    @if(accessKey.keyStatus == AccessKeyDisabled) {
        <span><i class="material-icons left tooltipped iam-icon--disabled"  data-position="bottom" data-delay="50" data-tooltip="Disabled Access Key">vpn_key</i></span>
    }
    @if(accessKey.keyStatus == AccessKeyEnabled) {
        <span><i class="material-icons left tooltipped" data-position="bottom" data-delay="50" data-tooltip="Has active Access Key">vpn_key</i></span>
    }
}

@if(CredentialsReportDisplay.checkNoKeyExists(accessKey1, accessKey2)) {
  <span>-</span>
} else {
    @keyStatus(accessKey1)
    @keyStatus(accessKey2)
}

