@import model.ReportStatus
@(status: ReportStatus)

@if(status == model.Red) {
    <span>
        <i class="material-icons left red-text">error</i>
        MFA not enabled
        <a class="modal-trigger right" href="#credentials-help--human"><i class="material-icons black-text">help_outline</i></a>
    </span>
}

@if(status == model.Amber) {
    <span>
        <i class="material-icons left amber-text">warning</i>
        Has active access keys
        <a class="modal-trigger right" href="#credentials-help--human"><i class="material-icons black-text">help_outline</i></a>
    </span>
}

@if(status == model.Green) {
    <i class="material-icons left green-text" data-position="bottom" data-delay="50">check</i>
}
