@import model.InspectorAssessmentRun
@import logic.InspectorResults.{levelColour, sortedFindings}
@import org.joda.time.format.DateTimeFormat

@(assessmentRun: InspectorAssessmentRun)

<div class="finding-container__card">
    <div class="card">
        <div class="card-content card-content--title">
            <span class="card-title">@assessmentRun.appId._1 @assessmentRun.appId._2 @assessmentRun.appId._3</span>
            <span class="card-content"> Completed at @{
                val formatter = DateTimeFormat.forPattern("HH:mm:ss dd/MM/yyyy");
                formatter.print(assessmentRun.completedAt)
            }
            </span>
        </div>
        <div class="card-content--border @{
            levelColour(assessmentRun.findingCounts)
        } darken-1"></div>
        <div class="card-content card-content--body">
            <table class="finding-details__table">
                <tbody>
                @for((level, count) <- sortedFindings(assessmentRun.findingCounts)) {
                    <tr>
                        <th>@level</th>
                        <td>@count</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="card-action finding-card-action">
            <a class="btn usage-cta" target="_blank" href='https://eu-west-1.console.aws.amazon.com/inspector/home?region=eu-west-1#/finding?filter={"assessmentRunArns":["@{assessmentRun.arn}"]}'>
                <i class="material-icons link_new_tab">open_in_new</i>
                AWS console
            </a>
        </div>
    </div>
</div>
