@import model.ReportStatus
@(status: ReportStatus)

@status match {
    case model.Red(_) => {
        <i class="material-icons left red-text">error</i>
        <span>Outdated key</span>
        <a class="modal-trigger iam-modal__trigger right" href="#credentials-help--machine"><i class="material-icons black-text">help_outline</i></a>
    }
    case model.Amber => {
        <i class="material-icons left amber-text">warning</i>
        <span>No active access keys</span>
        <a class="modal-trigger iam-modal__trigger right" href="#credentials-help--machine"><i class="material-icons black-text">help_outline</i></a>
    }
    case model.Blue => {
        <i class="material-icons left purple-text">watch_later</i>
        <span class="title">Inactive user</span>
        <a class="modal-trigger iam-modal__trigger right" href="#credentials-help--machine"><i class="material-icons black-text">help_outline</i></a>
    }
    case model.Green => {
        <i class="material-icons left green-text">check</i>
    }
}