@import model.{SGOpenPortsDetail, SGInUse, Ec2Instance, ELB, UnknownUsage}
@import logic.SecurityGroupDisplay._

@(flaggedSgs: List[(SGOpenPortsDetail, Set[SGInUse])], shadow: Boolean)



@resourceList(flaggedSg: SGOpenPortsDetail, usages: Set[SGInUse]) = {
    @usages.map {
        case Ec2Instance(id) => {
              <a target="_blank" rel="noopener noreferrer" class="btn usage-cta truncate" href="https://@{flaggedSg.region}.console.aws.amazon.com/ec2/v2/home?region=@{flaggedSg.region}#Instances:search=@id">
                <i class="material-icons right tooltipped" data-position="bottom" data-delay="50" data-tooltip="EC2 instance">computer</i>
                <i class="material-icons link_new_tab" >open_in_new</i>
                @id
            </a>
        }
        case ELB(description) => {
              <a target="_blank" rel="noopener noreferrer" class="btn usage-cta truncate" href="https://@{flaggedSg.region}.console.aws.amazon.com/ec2/v2/home?region=@{flaggedSg.region}#LoadBalancers:search=@description">
                <i class="material-icons right tooltipped" data-position="bottom" data-delay="50" data-tooltip="Elastic Load Balancer">device_hub</i>
                <i class="material-icons link_new_tab" >open_in_new</i>
                @description
            </a>
        }
        case UnknownUsage(description: String, networkInterfaceId: String) => {
              <a class="btn usage-cta truncate">
                <i class="material-icons right">report_problem</i>
                Unknown usage: @description @networkInterfaceId
            </a>
        }
    }
}

<div class="sg-container">
@for((flaggedSg, usages) <- flaggedSgs) {
    <div class="sg-container__card sg-suppressed--@flaggedSg.isSuppressed">
        <div class="card @if(!shadow){z-depth-0}">
            <div class="card-content card-content--title">
                <span class="card-title">@flaggedSg.name
                @if(flaggedSg.isSuppressed) {
                    <i class="material-icons right tooltipped" data-position="top" data-tooltip="Suppressed alert">alarm_off</i>
                }
                </span>
            </div>
            <div class="card-content--border @{
                flaggedSg.alertLevel.toLowerCase
            } darken-1"></div>
            <div class="card-content card-content--body">
                <table class="sg-details__table">
                    <tbody>
                        <tr>
                            <th>Port</th>
                            <td>
                                @flaggedSg.port
                                <a class="modal-trigger iam-modal__trigger right" href="#sg-help"><i class="material-icons black-text">help_outline</i></a>
                            </td>
                        </tr>
                        <tr>
                            <th>Protocol</th>
                            <td>@flaggedSg.protocol</td>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <td>
                                <a target="_blank" rel="noopener noreferrer" href="https://@{flaggedSg.region}.console.aws.amazon.com/ec2/v2/home?region=@{flaggedSg.region}#SecurityGroups:search=@flaggedSg.id">@flaggedSg.id
                                    <i class="material-icons link_new_tab" >open_in_new</i>
                                </a>
                            </td>

                        </tr>
                        <tr>
                            <th>VPC Id</th>
                            <td>@flaggedSg.vpcId</td>
                        </tr>
                        <tr>
                            <th>VPC Name</th>
                            <td>@flaggedSg.vpcName.getOrElse("N/A")</td>
                        </tr>

                        <tr>
                            <th>Region</th>
                            <td>@flaggedSg.region</td>
                        </tr>

                        <tr>
                            <th>Cloudformation Stack</th>
                            <td>@(flaggedSg.stackId, flaggedSg.stackName) match {
                                case (Some(id), Some(name)) => {
                                    <a href="https://@{flaggedSg.region}.console.aws.amazon.com/cloudformation/home?region=@{flaggedSg.region}#/stack/detail?stackId=@helper.urlEncode(id)">
                                        @name
                                    </a>
                                }
                                case _ => {}
                            }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-action sg-card-action">

            @if(usages.isEmpty) {
                <a class="btn usage-cta" href="#" disabled>Not in use</a>
            } else {
                @if(usages.size == 1) {

                    @resourceList(flaggedSg, usages)

                } else {
                    <ul class="collapsible sg-details js-sg-details" data-collapsible="expandable">
                        <li class="sg-details__list">
                            <div class="collapsible-header sg-details__header"><i class="material-icons">expand_more</i>

                              @defining(resourceIcons(usages.toList)) { iconCounts =>
                                  @if(iconCounts.instances > 0) {
                                    <span class="icon-count">@iconCounts.instances</span>
                                    <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="EC2 instance">computer</i>
                                  }
                                  @if(iconCounts.elbs > 0) {
                                    <span class="icon-count">@iconCounts.elbs</span>
                                    <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Elastic Load Balancer">device_hub</i>
                                  }
                                  @if(iconCounts.unknown > 0) {
                                    <span class="icon-count">@iconCounts.unknown</span>
                                    <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Unknown">report_problem</i>
                                  }
                              }

                            </div>
                        <div class="collapsible-body sg-details__body">
                            @resourceList(flaggedSg, usages)
                        </div>
                        </li>
                    </ul>
                }
            }

          </div>

        </div>
    </div>
}
</div>
