@import model.{SGOpenPortsDetail, SGInUse, Instance, ELB, UnknownUsage}

@(flaggedSgs: List[(SGOpenPortsDetail, Set[SGInUse])], shadow: Boolean)


<div class="row">
@for((flaggedSg, usages) <- flaggedSgs) {
    <div class="col s12 m6 l4">
        <div class="card @if(!shadow){z-depth-0}">
            <div class="card-content card-content--title">
                <span class="card-title">@flaggedSg.name</span>
            </div>
            <div class="card-content--border @{
                flaggedSg.alertLevel.toLowerCase
            } darken-1"></div>
            <div class="card-content card-content--body">
                <table class="sg-details__table">
                    <tbody>
                        <tr>
                            <th>Port</th>
                            <td>@flaggedSg.port</td>
                        </tr>
                        <tr>
                            <th>Protocol</th>
                            <td>@flaggedSg.protocol</td>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <td>@flaggedSg.id</td>
                        </tr>
                        <tr>
                            <th>VPC</th>
                            <td>@flaggedSg.vpcId</td>
                        </tr>
                        <tr>
                            <th>Region</th>
                            <td>@flaggedSg.region</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-action">
            @if(usages.isEmpty) {
                <a class="btn usage-cta" href="#" disabled>Not in use</a>
            } else {
                @usages.map {
                    case Instance(id) => {
                        <a class="btn usage-cta" href="https://@{flaggedSg.region}.console.aws.amazon.com/ec2/v2/home?region=@{flaggedSg.region}#Instances:search=@id">
                            <i class="material-icons right tooltipped" data-position="bottom" data-delay="50" data-tooltip="EC2 instance">computer</i>
                            @id
                        </a>
                    }
                    case ELB(description) => {
                        <a class="btn usage-cta" href="https://@{flaggedSg.region}.console.aws.amazon.com/ec2/v2/home?region=@{flaggedSg.region}#LoadBalancers:search=@description">
                            <i class="material-icons right tooltipped" data-position="bottom" data-delay="50" data-tooltip="Elastic Load Balancer">device_hub</i>
                            @description
                        </a>
                    }
                    case UnknownUsage(description: String, networkInterfaceId: String) => {
                        <a class="btn usage-cta">
                            <i class="material-icons right">report_problem</i>
                            Unknown usage: @description @networkInterfaceId
                        </a>
                    }
                }
            }
            </div>
        </div>
    </div>
}
</div>
