<div id="sg-help" class="modal bottom-sheet sg-modal">
    <div class="modal-content">
        <h4><i class="material-icons large-icon left">vpn_lock</i>Security Groups Help</h4>
        <ul class="collection">
            <li class="collection-item avatar">
                <i class="material-icons circle large-icon white red-text">error</i>
                <span class="title">Unrestricted Access</span>
                <p>Restrict access to only those IP addresses that require it. Be sure to delete overly permissive rules after creating rules that are more restrictive.</p>
                <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_mfa.html" class="secondary-content">Read more in the AWS docs</a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle large-icon white amber-text">warning</i>
                <span class="title">Specific Ports Unrestricted</span>
                <p>Restrict access to only those IP addresses that require it. Be sure to delete overly permissive rules after creating rules that are more restrictive.</p>
                <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/authorizing-access-to-an-instance.html" class="secondary-content">Read more in the AWS docs</a>
            </li>
        </ul>
    </div>
</div>