@import model.CredentialReportDisplay
@import logic.ReportDisplay
@import model._
@(report: CredentialReportDisplay)

@if(ReportDisplay.reportStatusSummary(report).contains(Red)) {
    <i class="material-icons red-text" data-delay="50">error</i>
}
@if(ReportDisplay.reportStatusSummary(report).contains(Amber)) {
    <i class="material-icons amber-text" data-delay="50">warning</i>
}
@if(ReportDisplay.reportStatusSummary(report).forall(_ == Green)) {
    <i class="material-icons green-text" data-delay="50">check</i>
}
