@import model.{AwsAccount, CredentialReportDisplay, ExposedIAMKeyDetail, SGInUse, SGOpenPortsDetail}
@(awsAccount: AwsAccount, exposedIamKeys: List[ExposedIAMKeyDetail], report: CredentialReportDisplay, flaggedSgs: List[(SGOpenPortsDetail, Set[SGInUse])])(implicit assets: AssetsFinder)

@main(List(awsAccount.name, "Security Overview")) { @* Header *@
    <div class="hq-sub-header">
        <div class="container hq-sub-header__row">
            <div class="hq-sub-header__name">
                <h4 class="header light center-on-small-only grey-text text-lighten-5">For @awsAccount.name</h4>
            </div>
            <div class="hq-sub-header__tabs">
                <ul class="tabs tabs-transparent">
                    <li class="tab col s3"><a href="#sgs"><i class="material-icons left">vpn_lock</i>Security Groups</a></li>
                    <li class="tab col s3"><a class="active" href="#iam"><i class="material-icons left">vpn_key</i>IAM Report</a></li>
                </ul>
            </div>
        </div>
    </div>


} { @* Main content *@
    <div class="container">
        <div class="row">

          <div id="sgs" class="col s12">
            <h2>Open Security Groups</h2>
            <p>The following Security Groups have ports open to the world, i.e. a CIDR set to <code>0.0.0.0/0</code>.</p>

            @views.html.fragments.openSecurityGroups(flaggedSgs, shadow=true)

          </div>
          <div id="iam" class="col s12">
              @views.html.iam.iamCredReportBody(report)
          </div>
        </div>
    </div>
}
