@import logic.DocumentUtil

@(file: String)(implicit assets: AssetsFinder)

@main(Nil) { @* Header *@
    <div class="container">
        <div class="row">
            <h1 class="header center-on-small-only grey-text text-lighten-5">Security HQ</h1>
            <div class="col s12 m9">
                <h4 class="grey-text text-darken-4 center-on-small-only">Documentation</h4>
            </div>
        </div>
    </div>

} { @* Main content *@

    <div class="container">
        <div class="row">
            @{DocumentUtil.convert(file) getOrElse views.html.documentation.unknown(file)}
        </div>
    </div>

}