@(source: Html)(implicit assets: AssetsFinder)

@main(List("Documentation")) { @* Header *@
  <div class="hq-sub-header">
      <div class="container hq-sub-header__row">
          <div class="hq-sub-header__name">
              <h4 class="header light grey-text text-lighten-5">
                  <a href="/documentation" class="grey-text text-lighten-5">Documentation</a>
              </h4>
          </div>
      </div>
  </div>

} { @* Main content *@
    <div class="container">
        <div class="row">
            <div class="doc-content col s12 flow-text">
                @source
            </div>
        </div>
    </div>

}
