@import config.Config
@()(implicit assets: AssetsFinder)


@main(List("Documentation")) { @* Header *@
    <div class="hq-sub-header">
        <div class="container hq-sub-header__row">
            <div class="hq-sub-header__name">
                <h4 class="header light grey-text text-lighten-5">
                    Documentation
                </h4>
            </div>
        </div>
    </div>

} { @* Main content *@
    <div class="container">
        <div class="row docs-reports">
            @for(docLink <- Config.documentationLinks) {
                <div class="card">
                    <div class="card-content">
                        <a class="docs__link" href="/documentation/@{
                            docLink.slug
                        }">
                            <i class="right material-icons">@docLink.icon</i>
                            <span class="card-title">@docLink.title</span>
                            <p>
                            @docLink.description
                            </p>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
}
