@import utils.attempt.FailedAttempt

@(errs: FailedAttempt)(implicit assets: AssetsFinder)


@main(Nil) { @* Header *@
    <div class="container">
        <div class="row">
            <h1 class="header center-on-small-only grey-text text-lighten-5">Security HQ</h1>
        </div>
    </div>

} { @* Main content *@
    <div class="container">
        <div class="row">
            <h2>Error</h2>
            @for(err <- errs.failures) {
                <p>@err.friendlyMessage</p>
            }
        </div>
    </div>
}
