@()(implicit assets: AssetsFinder)

<header class="main-header section" id="index-banner">
    <nav class="nav-extended">
        <div class="container">
            <div class="nav-wrapper hq-nav">
                <div class="hq-nav__header">
                    <h2 class="header grey-text text-lighten-5">Security HQ</h2>
                </div>
                <div class="hq-nav__menu">
                    <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons black-text">menu</i></a>
                    <ul class="main-nav hide-on-med-and-down">
                        <li class="main-nav--home">
                            <a href="/"><i class="material-icons black-text">home</i></a>
                        </li>
                        <li class="main-nav">
                            <a href="/security-groups"><i class="material-icons black-text">vpn_lock</i></a>
                        </li>
                        <li class="main-nav">
                            <a href="/iam"><i class="material-icons black-text">vpn_key</i></a>
                        </li>
                        <li class="main-nav">
                            <a href="/documentation/"><i class="material-icons black-text">description</i></a>
                        </li>
                    </ul>

                    <ul id="mobile-nav" class="side-nav">
                        <li class="main-nav--home">
                            <a href="/"><i class="material-icons black-text">home</i>Home</a>
                        </li>
                        <li class="main-nav">
                            <a href="/security-groups"><i class="material-icons black-text">vpn_lock</i>Security Groups</a>
                        </li>
                        <li class="main-nav">
                            <a href="/iam"><i class="material-icons black-text">vpn_key</i>Credentials audits</a>
                        </li>
                        <li class="main-nav">
                            <a href="/documentation"><i class="material-icons black-text">description</i>Documentation</a>
                        </li>
                    </ul>

                </div>
                <div class="hq-nav__image-wrapper">
                    <a href="/">
                        <img src="@assets.path("images/hq.png")" alt="Security HQ" class="hq-nav__image" />
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
