@import model.AwsAccount

@(awsAccounts: List[AwsAccount])(implicit assets: AssetsFinder)


@main(Nil) { @* Header *@
    <div class="hq-sub-header">
        <div class="container hq-sub-header__row">
            <div class="hq-sub-header__name">
                <h4 class="header light grey-text text-lighten-5">Centralised AWS Account security management</h4>
            </div>
        </div>
    </div>

} { @* Main content *@
    <div class="container">
        <div class="row hp-reports">
            <div class="card">
                <div class="card-content">
                    <a class="hp__link" href="https://metrics.gutools.co.uk/d/fdnykwvzsgt8gf">
                        <i class="right material-icons">vpn_key</i>
                        <span class="card-title">Security HQ Dashboards</span>
                        <p>
                            View the Security HQ reports on Grafana.
                        </p>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <a class="hp__link" href="/documentation">
                        <i class="right material-icons">description</i>
                        <span class="card-title">Documentation</span>
                        <p>
                            Read the docs.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
}
