@(title: List[String])(header: Html)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@{(title ++ List("Security HQ")).mkString(" | ")}</title>

        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("materialize/css/materialize.min.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="180x180" href="@routes.Assets.versioned("images/favicon/apple-touch-icon.png")">
        <link rel="icon" type="image/png" sizes="32x32" href="@routes.Assets.versioned("images/favicon/favicon-32x32.png")">
        <link rel="icon" type="image/png" sizes="16x16" href="@routes.Assets.versioned("images/favicon/favicon-16x16.png")">
        <link rel="manifest" href="@routes.Assets.versioned("images/favicon/manifest.json")">
        <link rel="mask-icon" href="@routes.Assets.versioned("images/favicon/safari-pinned-tab.svg")" color="#009688">
        <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon/favicon.ico")">
        <meta name="msapplication-config" content="@routes.Assets.versioned("images/favicon/browserconfig.xml")">
        <meta name="theme-color" content="#009688">
    </head>
    <body>
        <header class="main-header section" id="index-banner">
            <div class="container">
                <div class="main-icon right">
                    <a href="/">
                        <img src="@routes.Assets.versioned("images/hq.png")" alt="Security HQ" class="main-icon__image" />
                    </a>
                </div>
            </div>
            @header
            <nav class="">
                <div class="container">
                    <div class="nav-wrapper">
                        <ul class="main-nav left">
                            <li class="main-nav--home">
                                <a href="/"><i class="material-icons">home</i></a>
                            </li>
                            <li class="main-nav">
                                <a href="/security-groups"><i class="material-icons">vpn_lock</i></a>
                            </li>
                            <li class="main-nav">
                                <a href="/dependencies"><i class="material-icons">layers</i></a>
                            </li>
                            <li class="main-nav">
                                <a href="/iam"><i class="material-icons">vpn_key</i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main>
        @content
        </main>

        <footer class="page-footer grey darken-4">
            <div class="container">
                <div class="row">
                    <div class="col l8 s12">
                        <h5 class="white-text">Security HQ</h5>
                        <p class="grey-text text-lighten-4">
                            A tool for monitoring the security status of AWS accounts, developed by the Guardian's security team.
                        </p>
                    </div>
                    <div class="col l3 offset-l1 s12">
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://github.com/guardian/security-hq">GitHub</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src='@routes.Assets.versioned("javascripts/jquery-3.1.1.min.js")'></script>
        <script src='@routes.Assets.versioned("materialize/js/materialize.min.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/app.js")'></script>
    </body>
</html>