@import model._
@(accounts: Map[AwsAccount, CredentialReportDisplay])


@main(List("IAM report")) { @* Header *@
    <div class="container">
        <div class="row">
            <h1 class="header center-on-small-only grey-text text-lighten-5">IAM Report</h1>
            <div class="col s12 m9">
                <h4 class="grey-text text-darken-4 center-on-small-only">For all accounts</h4>
            </div>
        </div>
    </div>

} { @* Main content *@
    <div class="container greedy-width">
        <ul class="collapsible" data-collapsible="accordion">
        @for((account, report) <- accounts) {
            <li>
                <div class="collapsible-header">
                    @{account.name}
                    @views.html.fragments.statusSummary(report)
                </div>
                <div class="collapsible-body">
                    @views.html.iam.iamCredReportBody(report)
                </div>
            </li>
        }
        </ul>
    </div>
}
