@import logic.CredentialsReportDisplay._
@import model._
@import utils.attempt.FailedAttempt
@(reports: List[(AwsAccount, Either[FailedAttempt, CredentialReportDisplay])], exposedKeySummary: Map[AwsAccount, Boolean])(implicit assets: AssetsFinder)

@floatingNav() = {
<div class="fixed-action-btn js-floating-nav iam-floating-nav">
    <a class="btn-floating btn-large">
        <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li><a class="btn-floating red js-iam-collapse">
            <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="collapse all">fullscreen_exit</i>
        </a></li>
        <li><a class="btn-floating yellow darken-1 js-iam-expand">
            <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="expand all">fullscreen</i>
        </a></li>
    </ul>
</div>
}

@main(List("IAM report")) { @* Header *@
    <div class="hq-sub-header">
        <div class="container hq-sub-header__row">
            <div class="hq-sub-header__name">
                <h4 class="header light grey-text text-lighten-5">All accounts</h4>
            </div>
            <div class="hq-sub-header__tabs">
                <ul class="tabs tabs-transparent">
                    <li class="tab col s3"><a target="_self" class="active" href="/iam"><i class="material-icons left">vpn_key</i>IAM Report</a></li>
                    <li class="tab col s3"><a target="_self" href="/buckets"><i class="material-icons left">storage</i>S3 Buckets</a></li>
                    <li class="tab col s3"><a target="_self" href="/gcp"><i class="material-icons left">cloud</i>GCP Findings</a></li>
                </ul>
            </div>
        </div>
    </div>

} { @* Main content *@
    <div class="container">

        <div class="row iam-key-alert__wrapper">
            @for((account, hasExposedKeys) <- exposedKeySummary) {
                @if(hasExposedKeys) {

                    <div class="col s12 m6">
                        <div class="card red darken-1 white-text">
                            <div class="card-content white-text valign-wrapper">
                                <i class="material-icons large-icon white-text left">warning</i>
                                <p>@account.name has exposed keys!</p>
                            </div>
                            <div class="card-action">
                                <a href="/iam/@account.id">@account.name credentials report
                                    <i class="material-icons right">chevron_right</i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="row">
            <ul class="collapsible" data-collapsible="accordion">
            @for((account, report) <- reports) {
                <li>
                    <div class="collapsible-header" tabindex="22">
                        <i class="material-icons">keyboard_arrow_down</i>
                        <span class="iam-header__name">@account.name</span>
                        @report match {
                            case Right(re) => {
                                @defining(reportStatusSummary(re)) { statusCounts =>
                                    @if(statusCounts.errors > 0) {
                                        <span class="icon-count">@statusCounts.errors</span>
                                        <i class="material-icons red-text">error</i>
                                    }
                                    @if(statusCounts.warnings > 0) {
                                        <span class="icon-count">@statusCounts.warnings</span>
                                        <i class="material-icons amber-text">warning</i>
                                    }
                                    @if(statusCounts.other > 0) {
                                        <span class="icon-count">@statusCounts.other</span>
                                        <i class="material-icons purple-text">watch_later</i>
                                    }
                                    @if(statusCounts.errors == 0 && statusCounts.warnings == 0) {
                                        <i class="material-icons green-text">check</i>
                                    }
                                }
                            }
                            case Left(_) => {
                                <i class="material-icons">warning</i>
                            }
                        }
                    </div>
                    <div class="collapsible-body">
                    @report match {
                        case Right(re) => {
                            @views.html.iam.iamCredReportBody(sortUsersByReportSummary(re))
                        }
                        case Left(fa) => {
                            <p class="p--warning">
                            @for(err <- fa.failures) {
                                @err.friendlyMessage
                            }
                            </p>
                        }
                    }
                    </div>
                </li>
            }
            </ul>
        </div>

        @floatingNav()

    </div>

    @views.html.fragments.credentialsHelp()
}
