@import model._
@(reports: Map[AwsAccount, Either[utils.attempt.FailedAttempt, CredentialReportDisplay]])(implicit assets: AssetsFinder)


@main(List("IAM report")) { @* Header *@
    <div class="hq-sub-header">
        <div class="container hq-sub-header__row">
            <div class="hq-sub-header__name">
                <h2 class="header light center-on-small-only grey-text text-lighten-5">IAM Report</h2>
                <h4 class="header light center-on-small-only grey-text text-lighten-5">For all accounts</h4>
            </div>
        </div>
    </div>

} { @* Main content *@
    <div class="container">
        <ul class="collapsible" data-collapsible="accordion">
        @for((account, report) <- reports) {
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">keyboard_arrow_down</i>
                    <span class="iam-header__name">@account.name</span>
                    @report match {
                        case Right(re) => {
                            @views.html.fragments.statusSummary(re)
                        }
                        case Left(_) => {
                            <i class="material-icons">warning</i>
                        }
                    }
                </div>
                <div class="collapsible-body">
                @report match {
                    case Right(re) => {
                        @views.html.iam.iamCredReportBody(re)
                    }
                    case Left(fa) => {
                        <p class="p--warning">
                        @for(err <- fa.failures) {
                            @err.friendlyMessage
                        }
                        </p>
                    }
                }
                </div>
            </li>
        }
        </ul>
    </div>
}
