@import model.{AwsAccount, CredentialReportDisplay, ExposedIAMKeyDetail}
@(awsAccount: AwsAccount, exposedIamKeys: Either[utils.attempt.FailedAttempt, List[ExposedIAMKeyDetail]], credentialsReport: Either[utils.attempt.FailedAttempt, CredentialReportDisplay])(implicit assets: AssetsFinder)


@errorMessage(fa: utils.attempt.FailedAttempt) = {
    <div class="row">
        <div class="card-panel yellow black-text">
            @for(err <- fa.failures) {
            <p class="warning">
                <i class="material-icons right">warning</i>
                <b>WARNING:</b>
                @err.friendlyMessage
            </p>
            }
        </div>
    </div>
}

@main(List(awsAccount.name, "IAM report")) { @* Header *@
<div class="hq-sub-header">
    <div class="container hq-sub-header__row">
        <div class="hq-sub-header__name">
            <h4 class="header light grey-text text-lighten-5">For @awsAccount.name</h4>
        </div>
        <div class="hq-sub-header__tabs">
            <ul class="tabs tabs-transparent">
                <li class="tab col s3"><a target="_self" href="/security-groups/@awsAccount.id"><i class="material-icons left">vpn_lock</i>Security Groups</a></li>
                <li class="tab col s3"><a target="_self" class="active" href="/iam/@awsAccount.id"><i class="material-icons left">vpn_key</i>IAM Report</a></li>
            </ul>
        </div>
    </div>
</div>

} { @* Main content *@
    <div class="container">

        @exposedIamKeys match {
            case Right(exposedIamKeys) => {
                @views.html.iam.exposedKeys(exposedIamKeys)
            }
            case Left(fa) => {
                @errorMessage(fa)
            }
        }

        @credentialsReport match {
            case Right(report) => {
                <div class="row">
                    <h2>Credential Report</h2>
                </div>
                @views.html.iam.iamCredReportBody(report)
            }
            case Left(fa) => {
                @errorMessage(fa)
            }
        }
    </div>
}
