@import model.{AwsAccount, CredentialReportDisplay, ExposedIAMKeyDetail}
@import utils.attempt.FailedAttempt
@(awsAccount: AwsAccount, exposedIamKeys: Either[FailedAttempt, List[ExposedIAMKeyDetail]], credentialsReport: Either[FailedAttempt, CredentialReportDisplay])(implicit assets: AssetsFinder)


@main(List(awsAccount.name, "IAM report")) { @* Header *@
<div class="hq-sub-header">
    <div class="container hq-sub-header__row">
        <div class="hq-sub-header__name">
            <h4 class="header light grey-text text-lighten-5">For @awsAccount.name</h4>
        </div>
        <div class="hq-sub-header__tabs">
            <ul class="tabs tabs-transparent">
                <li class="tab col s3"><a target="_self" href="/security-groups/@awsAccount.id"><i class="material-icons left">vpn_lock</i>Security Groups</a></li>
                <li class="tab col s3"><a target="_self" class="active" href="/iam/@awsAccount.id"><i class="material-icons left">vpn_key</i>IAM Report</a></li>
                <li class="tab col s3"><a target="_self" href="/inspector/@awsAccount.id"><i class="material-icons left">assignment</i>Inspector</a></li>
            </ul>
        </div>
    </div>
</div>

} { @* Main content *@
    <div class="container">

        @exposedIamKeys match {
            case Right(exposedIamKeys) => {
                @views.html.iam.exposedKeys(exposedIamKeys)
            }
            case Left(fa) => {
                @views.html.fragments.warningMessage("exposed IAM keys", fa)
            }
        }

        @credentialsReport match {
            case Right(report) => {
                <div class="row">
                    <h2>Credential Report</h2>
                </div>

                @views.html.iam.iamCredReportBody(report)

                @views.html.fragments.credentialsHelp()
            }
            case Left(fa) => {
                @views.html.fragments.warningMessage("credential report", fa)
            }
        }
    </div>
}
