@import model.{AwsAccount, CredentialReportDisplay, ExposedIAMKeyDetail}
@(awsAccount: AwsAccount, exposedIamKeys: List[ExposedIAMKeyDetail], report: CredentialReportDisplay)(implicit assets: AssetsFinder)


@main(List(awsAccount.name, "IAM report")) { @* Header *@
<div class="hq-sub-header">
    <div class="container hq-sub-header__row">
        <div class="hq-sub-header__name">
            <h4 class="header light grey-text text-lighten-5">For @awsAccount.name</h4>
        </div>
        <div class="hq-sub-header__tabs">
            <ul class="tabs tabs-transparent">
                <li class="tab col s3"><a target="_self" href="/security-groups/@awsAccount.id"><i class="material-icons left">vpn_lock</i>Security Groups</a></li>
                <li class="tab col s3"><a target="_self" class="active" href="/iam/@awsAccount.id"><i class="material-icons left">vpn_key</i>IAM Report</a></li>
            </ul>
        </div>
    </div>
</div>

} { @* Main content *@
    <div class="container">
    @if(exposedIamKeys.nonEmpty) {
        <div class="row">
            <h2>Exposed IAM Keys</h2>
            <div class="card-panel red white-text">

                <p class="warning">
                    <i class="material-icons right">warning</i>
                    <b>URGENT:</b>
                    Keys that have been identified as 'exposed' are very likely being used in an ongoing attack.
                </p>
            </div>

            @for(exposedIamKey <- exposedIamKeys) {
                <div class="col s12 m6 l4">
                    <div class="card">
                        <div class="card-content card-content--title">
                            <span class="card-title">@exposedIamKey.username</span>
                        </div>
                        <div class="card-content--border red darken-1"></div>
                        <div class="card-content card-content--body">
                            <table class="sg-details__table">
                                <tbody>
                                    <tr>
                                        <th>Fraud type</th>
                                        <td>@exposedIamKey.fraudType</td>
                                    </tr>
                                    <tr>
                                        <th>Usage</th>
                                        <td>@exposedIamKey.usage</td>
                                    </tr>
                                    <tr>
                                        <th>Case ID</th>
                                        <td>
                                            <a href="https://console.aws.amazon.com/support/home#/case/?displayId=@{exposedIamKey.caseId}&language=en">
                                            @exposedIamKey.caseId
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-action">
                            <a class="btn usage-cta" href="https://console.aws.amazon.com/iam/home?region=eu-west-1#/users/@{exposedIamKey.username}?section=security_credentials">
                                <i class="material-icons right tooltipped" data-position="bottom" data-delay="50" data-tooltip="IAM user">person</i>
                                @exposedIamKey.username
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
        <div>
            <div class="row">
                <h2>Credential Report</h2>
                @views.html.iam.iamCredReportBody(report)
            </div>
        </div>
    </div>
}
