# Find full documentation here https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions
name: CI

on:
  pull_request:

  # Manual invocation.
  workflow_dispatch:

  push:
    branches:
      - main
jobs:
  CI:
    runs-on: ubuntu-latest

    # See https://docs.github.com/en/actions/security-guides/automatic-token-authentication#permissions-for-the-github_token
    permissions:
      id-token: write
      contents: read
      pull-requests: write # required by guardian/actions-riff-raff
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: 21
          distribution: corretto
          cache: sbt

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'cdk/package-lock.json'

      # This step creates an environment variable `BUILD_NUMBER`.
      # It is used by:
      #   - The `script/ci` script
      #   - The CDK infrastructure
      #   - The `guardian/actions-riff-raff` GitHub Action
      - run: |
          LAST_TEAMCITY_BUILD=1265
          echo "BUILD_NUMBER=$(( $GITHUB_RUN_NUMBER + $LAST_TEAMCITY_BUILD ))" >> $GITHUB_ENV

      - name: Run script/ci
        run: ./script/ci

      - uses: guardian/actions-riff-raff@d27cdac36b1f3932442f25f18775208f774a8405 # v4.2.3
        with:
          projectName: security-hq
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          buildNumber: ${{ env.BUILD_NUMBER }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          configPath: hq/conf/riff-raff.yaml
          contentDirectories: |
            security-hq-cfn:
              - cdk/cdk.out/security-hq.template.json
            security-hq:
              - dist
          # No point in links to a Code stage, as there isn't one
          commentingEnabled: false
