# Find full documentation here https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions
name: Inclusive Language

on:
  pull_request:

  # Manual invocation.
  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  inclusion-lint:
    timeout-minutes: 5
    runs-on: ubuntu-latest

    # See https://docs.github.com/en/actions/security-guides/automatic-token-authentication#permissions-for-the-github_token
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0

      - name: Run inclusion
        run: find . -name '*.md' | grep -Ev node-modules\|node_modules | xargs npx alex

